version: '3.4'
services:
  spring_wiremock:
    container_name: spring_wiremock
    image: 'wiremock/wiremock:latest'
    ports:
      - '8080:8080'
    volumes:
      - './src/main/java/wiremock/mappings:/home/wiremock/mappings'
    command: '--no-request-journal --disable-request-logging --container-threads=250 --jetty-acceptor-threads=100 --jetty-accept-queue-size=500  --async-response-enabled=true --async-response-threads=200'

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/